SECRET_KEY_BASE=

POSTGRES_DB=postgres
POSTGRES_APP_DB=flow7_iot
POSTGRES_HOST=postgresql
POSTGRES_USER=postgres
POSTGRES_PASSWORD=flow7_iot

CLICKHOUSE_DB=default_db
CLICKHOUSE_APP_DB=flow7_iot
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_USER=flow7_iot
CLICKHOUSE_PASSWORD=flow7_iot

RAILS_ENV=production
REDIS_URL=redis://redis:6379/1
